@media screen and (min-width: 320px) and (max-width:559px) 
{
	#wrapper
	{
		background-color:gold;
		border: 1px dashed red;
	}
	.block
	{
		padding: 10px;
		width: 80%;
		margin:16px;
	}
	
}

@media screen and (min-width: 560px) and (max-width:939px) 
{
	#wrapper
	{
		background-color:green;
		border: 3px groove blue;
	}
	.block
	{
		padding: 10px;
		width: 45%;
		margin:16px;
	}
	
}

@media screen and (min-width: 940px) and (max-width:1279px) 
{
	#wrapper
	{
		background-color:gold;
		border: 5px outline orange;
	}
	.block
	{
		padding: 10px;
		width: 30%;
		
	}
	
}

@media screen and (min-width: 1280px) 
{
	#wrapper
	{
		background-color:blue;
		border: 5px outline orange;
	}
	.block
	{
		padding: 10px;
		width: 30%;
		
	}
	
}